<h1><%= @board.title %></h1>

<form action="/boards/<%= @board.id %>" method="post">
  <div class="form-group">
    <label for="message_header">Message Title</label>
    <input id="message_header" name="message_header" class="form-control" type="text">
    <label for="body">Message Body</label>
    <textarea id="body" name="body" class="form-control" type="text" rows="5" cols="60">
    </textarea>
  </div>
  <button type="submit" class="btn">Add message!</button>
</form>



<!-- +++++++++++++++++++++++++++++++++ -->
<label for="button">Sort by:</label>
<form action="/oldest/<%= @board.id %>" method="post">
  <button type="submit" name="button">I hate you again</button>
</form>
<form action="/newest/<%= @board.id %>" method="post">
  <button type="submit" name="button">I hate you</button>
</form>
<% if @board.messages.any? %>
<ul>
  <% @board.messages.each do |message| %>
    <li><a href="/message/<%= message.id %>"><%= message.header %>
    </a><%= message.timestamp %></li>
<% end %>
  </ul>
<% else %>
  <p>It's lonely in here. Be the first to post a message.</p>
<% end %>

</ul>
<a href="/">Go Away</a>
